*{
    font-family: "Poppins", sans-serif;
}
.font-bangla {
    font-family: "Hind Siliguri", sans-serif;
}
.btn-get-started:hover {
    color: #422AD5;
    background-color: #FFFFFF;
}
.active {
    background-color: #422AD5;
    color: #FFFFFF;
}
hr {
  border: none;
  height: 1px;
  background-color: #FFEBEB; /* dark gray */
}